<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
	<title><%= pharmacy.name %></title>
</head>
<body>
	<div class="pharmacy-show">
	<h1><%= pharmacy.name %></h1>
	<ul>
		<li><strong>Address:</strong> <%= pharmacy.address %></li>
		<li><strong>Town:</strong> <%= pharmacy.town %></li>
		<li><strong>Phone Number:</strong> <%= pharmacy.phoneNumber %></li>
		<li><strong>In Stock:</strong> <%= pharmacy.inStock ? 'Yes' : 'No' %></li>
		<li><strong>Last Updated:</strong> <%= pharmacy.dateUpdated || 'N/A' %></li>
	</ul>
	<a href="/pharmacy">Back to List</a>
	</div>
</body>
</html>